header {
    background-color: gray;
}
.column-1 {
    background-color: red;
    width: 45%;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 2%;
    float: left;
}
.column-2 {
    background-color: blue;
    width: 45%;
    display: inline-block;
    margin-right: 2%;
}
footer {
    background-color: gray;
    clear: both;
}

.columns{
    background-color: black;
    border: 1px solid red;
  
}
